<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder ignore-unresolvable="true" properties-ref="config"/>
    <util:properties id="config" location="classpath:config.properties"/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="WEB-INF/view/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <!-- 配置Fastjson支持 -->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/html;charset=UTF-8</value>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
                <!--<property name="features">-->
                    <!--<list>-->
                        <!--<value>WriteNullStringAsEmpty</value>-->
                        <!--<value>WriteMapNullValue</value>-->
                        <!--<value>WriteNullListAsEmpty</value>-->
                        <!--<value>WriteNullNumberAsZero</value>-->
                        <!--<value>WriteNullBooleanAsFalse</value>-->
                        <!--<value>QuoteFieldNames</value>-->
                    <!--</list>-->
                <!--</property>-->
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <bean class="mysso.web.AuthenticationController">
        <property name="authenticationManager" ref="authenticationManager"/>
        <property name="credentialFactory" ref="credentialFactory"/>
        <property name="serviceProviderRegistry" ref="serviceProviderRegistry"/>
        <property name="webUtils" ref="webUtils"/>
        <property name="authNameInSession" value="authentication"/>
        <property name="spidNameInParams" value="${spidNameInParams}"/>
        <property name="tgcNameInCookie" value="${tgcNameInCookie}"/>
    </bean>
    <bean id="credentialFactory" class="mysso.authentication.credential.UsernamePasswordCredentialFactory">
        <property name="keyForUsername" value="username"/>
        <property name="keyForPassword" value="password"/>
    </bean>
    <bean id="webUtils" class="mysso.web.WebUtils">
        <property name="authNameInSession" value="authentication"/>
        <property name="tgcNameInCookie" value="${tgcNameInCookie}"/>
    </bean>
    <bean class="mysso.web.HomeController">
    </bean>
    <bean class="mysso.web.ValidationController">
        <property name="principalFactory" ref="principalFactory"/>
        <property name="serviceProviderRegistry" ref="serviceProviderRegistry"/>
        <property name="ticketManager" ref="ticketManager"/>
        <property name="spidNameInValidation" value="${spidNameInValidation}"/>
        <property name="spkeyNameInValidation" value="${spkeyNameInValidation}"/>
        <property name="stNameInValidation" value="${stNameInValidation}"/>
        <property name="tkNameInValidation" value="${tkNameInValidation}"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/login"/>
            <mvc:exclude-mapping path="/static"/>
            <mvc:exclude-mapping path="/validate/**"/>
            <bean id="authenticationInterceptor" class="mysso.web.AuthenticationInterceptor">
                <property name="webUtils" ref="webUtils"/>
            </bean>
        </mvc:interceptor>
    </mvc:interceptors>


</beans>
