<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd

        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:property-placeholder ignore-unresolvable="true" location="classpath:config.properties" />

    <bean id="ticketRegistry" class="mysso.ticket.registry.InMemoryTicketRegistry"/>
    <bean id="ticketManager" class="mysso.ticket.TicketManagerImpl">
        <property name="ticketRegistry" ref="ticketRegistry"/>
        <property name="livingTimeForServiceTicket" value="60000"/>
        <property name="livingTimeForToken" value="600000"/>
        <property name="ticketGrantingTicketIdGenerator" ref="ticketGrantingTicketIdGenerator"/>
        <property name="serviceTicketIdGenerator" ref="serviceTicketIdGenerator"/>
        <property name="tokenIdGenerator" ref="tokenIdGenerator"/>
    </bean>

    <bean id="ticketGrantingTicketIdGenerator" class="mysso.util.UUIDGenerator">
        <property name="prefix" value="tgt-"/>
        <property name="suffix" value=""/>
    </bean>
    <bean id="serviceTicketIdGenerator" class="mysso.util.UUIDGenerator">
        <property name="prefix" value="st-"/>
        <property name="suffix" value=""/>
    </bean>
    <bean id="tokenIdGenerator" class="mysso.util.UUIDGenerator">
        <property name="prefix" value="tk-"/>
        <property name="suffix" value=""/>
    </bean>

    <bean id="serviceProviderRegistry" class="mysso.serviceprovider.registry.InMemoryServiceProviderRegistry" c:map-ref="serviceProvidersMap"/>
    <util:map id="serviceProvidersMap">
        <entry key="sp-859f3de832604305b5c035713561f4b9">
            <bean class="mysso.serviceprovider.ServiceProvider">
                <property name="id" value="sp-859f3de832604305b5c035713561f4b9"/>
                <property name="description" value="sp-SampleServiceProvider001"/>
                <property name="name" value="SampleServiceProvider001"/>
                <!-- 如果没有首页, 则任意填写一个页面充当首页 -->
                <property name="homeUrl" value="http://localhost:9080/demo/index.jsp"/>
                <property name="accessServiceProviderPolicy" value="ALLOW_ALL"/>
                <!-- logoutUrls 可以是多个，用;隔开，
                    如果客户端应用是集群，并且客户端集群已经做好了session共享，此处可以填负载均衡地址，
                    如果客户端应用是集群，但是没有做session共享，那么这里要填写每一个实例的地址（ip地址），
                    而不允许填写负载均衡地址-->
                <property name="logoutUrls" value="http://127.0.0.1:9080/demo/backChannelLogout"/>
                <property name="secretKey" value="anyRandomSecretKey"/>
            </bean>
        </entry>
    </util:map>

    <bean id="authenticationManager" class="mysso.authentication.DefaultAuthenticationManagerImpl">
        <property name="ticketManager" ref="ticketManager"/>
        <property name="authenticationHandler" ref="authenticationHandler"/>
        <property name="principalResolver" ref="principalResolver"/>
    </bean>
    <bean id="authenticationHandler" class="mysso.authentication.handler.AcceptUsersAuthenticationHandler">
        <property name="passwordEncoder" ref="passwordEncoder"/>
        <property name="users" ref="users"/>
    </bean>
    <bean id="passwordEncoder" class="mysso.authentication.handler.PlainTextPasswordEncoder"/>
    <util:map id="users">
        <!-- key: username, value: password -->
        <entry key="jack" value="123123"/>
        <entry key="penny" value="123123"/>
    </util:map>
    <bean id="principalResolver" class="mysso.authentication.principal.AttributedPrincipalResolver">
        <property name="attributeRepository" ref="attributeRepository"/>
    </bean>
    <!--<bean id="principalFactory" class="mysso.authentication.principal.SimplePrincipalFactory">-->
        <!--<property name="attributeRepository" ref="attributeRepository"/>-->
    <!--</bean>-->
    <bean id="attributeRepository" class="mysso.authentication.principal.SimpleUserAttributeRepository" c:userAttributeMaps-ref="userAttributesMaps"/>
    <util:map id="userAttributesMaps">
        <entry key="jack" value-ref="attributesOfJack"/>
        <entry key="penny" value-ref="attributesOfPenny"/>
    </util:map>
    <util:map id="attributesOfJack">
        <entry key="department" value="technology"/>
        <entry key="level" value="t4"/>
    </util:map>
    <util:map id="attributesOfPenny">
        <entry key="department" value="human_resource"/>
        <entry key="level" value="m1"/>
    </util:map>

    <bean id="logoutManager" class="mysso.logout.DefaultLogoutManagerImpl">
        <property name="logoutHandler" ref="logoutHandler"/>
        <property name="serviceProviderRegistry" ref="serviceProviderRegistry"/>
        <property name="ticketRegistry" ref="ticketRegistry"/>
    </bean>

    <bean id="logoutHandler" class="mysso.logout.HttpLogoutHandler">
    </bean>

    <!-- filters -->
    <bean id="characterEncodingFilter" class="org.springframework.web.filter.CharacterEncodingFilter">
        <property name="encoding" value="UTF-8"/>
        <property name="forceEncoding" value="true"/>
    </bean>
</beans>